name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
    - main
  release:
    types:
      - published

jobs:
  checks:
    name: Check Python ${{ matrix.python-version }} on ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8]
        runs-on: [ubuntu-latest, macos-latest]


    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install package
      run: python -m pip install .[test]

    - name: Install pyhf from diffable_json branch
      run: python -m pip install git+https://github.com/scikit-hep/pyhf.git@diffable_json

    - name: Test package
      run: python -m pytest -ra --cov-report=xml

    - name: Upload coverage to codecov
      if: ${{ matrix.python-version == '3.7' && matrix.runs-on == 'ubuntu-latest'}}
      uses: codecov/codecov-action@v2.0.3
      with:
        #token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
        name: codecov-umbrella
        fail_ci_if_error: true

  dist:
    name: Distribution build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Build sdist and wheel
      run: pipx run build

    - uses: actions/upload-artifact@v2
      with:
        path: dist

    - name: Check products
      run: pipx run twine check dist/*

    - uses: pypa/gh-action-pypi-publish@v1.4.2
      if: github.event_name == 'release' && github.event.action == 'published'
      with:
        user: __token__
        # Remember to generate this and set it in "GitHub Secrets"
        password: ${{ secrets.pypi_password }}
